body {
  margin: 0;
  padding: 20px;
}

.toggle-switch {
  margin-bottom: 5px;
}

.border {
  position: relative;
  background: #2B2D42;
  width: 100px;
  height: 50px;
  display: block;
  border-radius: 25px;
  cursor: pointer;
  text-indent: -9999px;
}

.border::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  background: #fff;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  transition-duration: 0.2s;
}

.button:checked + .border {
  background: #D81543;
}

.button:checked + .border::after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.button {
  display: none;
}

.border:active::after {
  width: 60%;
}

.toggle-switch.gold .button:checked + .border {
  background: #F2D300;
}

.toggle-switch.green .button:checked + .border {
  background: #00A468;
}
